@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 250 250 249;
  --foreground: 28 25 23;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
